.experience {
    height: 100%;
    backdrop-filter: hue-rotate(150deg);
}

.experienceContent {
    display: flex;
    flex-wrap:wrap;
}

.experienceItem {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.experienceItem:nth-child(odd) {
    align-items: center;
}

.experienceItem > * {
    margin-bottom: var(--padding);
}
